button {
  height: 1.5rem;
}
.masterHomeContainer {
  margin-left: 10%;
  margin-right: 10%;
}

@media (max-width: 320px) {
  /* iPhone, portrait 480x320 */
}
@media (min-width: 321px) and (max-width: 410px) {
}
@media (min-width: 410px) and (max-width: 641px) {
}
@media (min-width: 642px) and (max-width: 961px) {
  /*landscape iPad */
}

@media (min-width: 962px) and (max-width: 1025px) {
  /*laptops */
}
@media (min-width: 1026px) {
  /* desktops */
}

.scroll-indicator {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  animation: fadeOut 10s forwards;
  z-index: 1000;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -10px);
  }
}
