button {
  height: 1.5rem;
}
.masterHomeContainer {
  margin-left: 10%;
  margin-right: 10%;
}

@media (max-width: 320px) {
  /* iPhone, portrait 480x320 */
}
@media (min-width: 321px) and (max-width: 410px) {
}
@media (min-width: 410px) and (max-width: 641px) {
}
@media (min-width: 642px) and (max-width: 961px) {
  /*landscape iPad */
}

@media (min-width: 962px) and (max-width: 1025px) {
  /*laptops */
}
@media (min-width: 1026px) {
  /* desktops */
}
