.masterContainer {
  margin-left: 10%;
  margin-right: 10%;
}

.titleout {
  color: var(--accent-cyan);
}

.button-container {
  display: flex;
  float: right;
}

.title {
  color: var(--accent-cyan);
}

.component1,
.component2 {
  background-color: var(--background-ice);
  color: var(--text-gray);
  margin-left: 0.5rem;
}

.signedin {
  display: grid;
  grid-template-columns: 5fr 1fr;
  margin-bottom: 0;
  list-style: none;
}

@media (max-width: 320px) {
  /* iPhone, portrait 480x320 */
}
@media (min-width: 321px) and (max-width: 410px) {
}
@media (min-width: 410px) and (max-width: 464px) {
}
@media (min-width: 642px) and (max-width: 961px) {
  /*landscape iPad */
}

@media (min-width: 962px) and (max-width: 1025px) {
  /*laptops */
}
@media (min-width: 1026px) {
  /* desktops */
}
